<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    this is the home 
    welcome back <%= locals.username %>

    your private link <a
        href="http://localhost:3000/message/p/<%= locals.private_id %>">http://localhost:3000/message/p/<%= locals.private_id %></a>
    your open link <a
        href="http://localhost:3000/message/i/<%= locals.username %>">http://localhost:3000/message/i/<%= locals.username %></a>
</body>
</html>