<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="currencynet" content="5b8916544623464485b89">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Usecret is an anoymous messaging application to help receive reviews from friends anonymously" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Social Media Platform | For Friends" />
    <meta property="og:description"
        content="Usecret is an anoymous messaging application to help receive reviews from friends & co-workers anonymously to improve on your self" />
    <meta property="og:url" content="<%= locals.url %>" />
    <meta property="og:site_name" content="Usecret is an anoymous messaging application" />
    <!-- <meta name="twitter:card" content="summary_large_image" /> -->
    <meta name="twitter:title" content="Usecret is an anoymous messaging application" />
    <meta name="twitter:description"
        content="Usecret is an anoymous messaging application to help receive reviews from friends & co-workers
        anonymously to improve on your self" />
    <!-- <meta name="twitter:image" content="http://localhost/static/brand/banner_logo.png" /> -->
    <meta name="theme-color" content="#314352" />
    <script type="application/ld+json">
          {
              "@context": "https://schema.org",
              "@type": "WebSite",
              "url": "<%= locals.url %>/",
              "name": "Usecret: is an anoymous messaging application to help receive reviews from friends anonymously",
              "potentialAction": {
                  "@type": "SearchAction",
                  "target": "http://localhost/search/{search_term_string}/",
                  "query-input": "required name=search_term_string"
              }
          }
      </script>
      <script type="application/ld+json">
          {
              "@context": "https://schema.org",
              "@type": "Organization",
              "url": "<%= locals.url %>/",
              "name": "Usecret: is an anoymous messaging application to help receive reviews from friends anonymously",
              "logo": "<%= locals.url %>/static/brand/banner_logo.png"
          }
      </script>
    <title>Usecret</title>
    <link rel="stylesheet" href="css/index">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://csshake.surge.sh/csshake.min.css">
    <script src="http://localhost/currencynet/bootstrap/js/bootstrap.min.js"></script>
    <script src="http://localhost/currencynet/scripts/jquery-3.6.0.min.js"></script>

</head>
<body>
    <main class="container" >
    <!-- Hello <%= locals.text %>! -->



        <section class="hero-section">
            <h1 class="main-header">USECRET MESSAGING</h1>
            <div class="action-btns-cnt">
                <a href='/signup'  class="action-btn hero-action-btn">Signup</a>
                <a href='/Login' class="action-btn hero-action-btn">Login</a>
            </div>
        </section>
    
    </main>
    <div class="floating_message shake-slow shake-constant">
        Developed by <a href="https://github.com/codad5">Codad5 <i class="fa fa-github"></i>
        </a>
    </div>
</body>
</html>